name: Exercicio 1
on:
  push:
    branches: [ main ]  

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  
  Job1:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Data Atual no Ubuntu
        run: date
      
  Job2:
    runs-on: windows-latest
    steps:
      - name: Data Atual no Windows
        run: date
    
  Job3:
    runs-on: macos-latest
    steps:
      - name: Data Atual no MACOS
        run: date
    
  Job4:
    runs-on: ubuntu-latest
    needs: [Job1, Job2, Job3]
    steps:
      - run: echo Executado em Ubuntu
